In [1]:
import pandas as pd
import numpy as np

In [8]:
data = pd.read_csv('https://gist.githubusercontent.com/eduardogpg/9a0e348884bf8b5e60db013a0429a59d/raw/3587f65f7914f6c7d02fb84489d34d2b16eb511a/users.csv', usecols=['name', 'age', 'gender', 'country', 'email'])
data

,name,age,gender,country,email
0,Mr Jerome Thomas,73,male,United States,jerome.thomas@example.com
1,Mr Gary Berry,70,male,United Kingdom,gary.berry@example.com
2,Mr Noham Dubois,40,male,France,noham.dubois@example.com
3,Mrs Naja Johansen,63,female,Denmark,naja.johansen@example.com
4,Mr Damien Marchand,61,male,France,damien.marchand@example.com
...,...,...,...,...,...
195,Mr Raul Bravo,46,male,Spain,raul.bravo@example.com
196,Miss Maeva Fortin,40,female,Canada,maeva.fortin@example.com
197,Mr Gabriel Berger,40,male,France,gabriel.berger@example.com
198,Mrs Ülkü Tanrıkulu,37,female,Turkey,ulku.tanrikulu@example.com
199,Mr Raff Valkema,60,male,Netherlands,raff.valkema@example.com

### Obtener el nombre de todos los usuarios con una edad mayor a 20

In [11]:
data[ data['age'] > 20]

,name,age,gender,country,email
0,Mr Jerome Thomas,73,male,United States,jerome.thomas@example.com
1,Mr Gary Berry,70,male,United Kingdom,gary.berry@example.com
2,Mr Noham Dubois,40,male,France,noham.dubois@example.com
3,Mrs Naja Johansen,63,female,Denmark,naja.johansen@example.com
4,Mr Damien Marchand,61,male,France,damien.marchand@example.com
...,...,...,...,...,...
195,Mr Raul Bravo,46,male,Spain,raul.bravo@example.com
196,Miss Maeva Fortin,40,female,Canada,maeva.fortin@example.com
197,Mr Gabriel Berger,40,male,France,gabriel.berger@example.com
198,Mrs Ülkü Tanrıkulu,37,female,Turkey,ulku.tanrikulu@example.com
199,Mr Raff Valkema,60,male,Netherlands,raff.valkema@example.com

### Obtener el nombre de todos los usuarios con una edad mayor a 20 y de sexo femenino

### Obtener todos los usuarios cuyo email no termine con @example.com

### Obtener el nombre y correo electronico de todos aquellos usuarios del pais Germany, Findland y Canada

### Obtener el nombre y correo electronico de todos los usuarios de sexo femenino del pais Germany

### Obtener la cantidad de usuarios de sexo masculino en canada

### Mostrar la cantidad de hombres y mujeres

### Mostrar el pais con mas mujeres

### Obtener los 5 paises con mas usuarios