In [2]:
import pandas as pd
import numpy as np

In [18]:
# Cargamos el csv a la variable data
data = pd.read_csv('https://gist.githubusercontent.com/eduardogpg/9a0e348884bf8b5e60db013a0429a59d/raw/3587f65f7914f6c7d02fb84489d34d2b16eb511a/users.csv', 
usecols=['name', 'age', 'gender', 'country', 'email'])

# Limpiamos de los valores NaN
data = data.dropna()

# Imprimimos los datos
data

,name,age,gender,country,email
0,Mr Jerome Thomas,73,male,United States,jerome.thomas@example.com
1,Mr Gary Berry,70,male,United Kingdom,gary.berry@example.com
2,Mr Noham Dubois,40,male,France,noham.dubois@example.com
3,Mrs Naja Johansen,63,female,Denmark,naja.johansen@example.com
4,Mr Damien Marchand,61,male,France,damien.marchand@example.com
...,...,...,...,...,...
195,Mr Raul Bravo,46,male,Spain,raul.bravo@example.com
196,Miss Maeva Fortin,40,female,Canada,maeva.fortin@example.com
197,Mr Gabriel Berger,40,male,France,gabriel.berger@example.com
198,Mrs Ülkü Tanrıkulu,37,female,Turkey,ulku.tanrikulu@example.com
199,Mr Raff Valkema,60,male,Netherlands,raff.valkema@example.com

### Obtener el nombre de todos los usuarios con una edad mayor a 40

In [19]:

data[data['age'] > 40] ['name']

0         Mr Jerome Thomas
1            Mr Gary Berry
3        Mrs Naja Johansen
4       Mr Damien Marchand
5         Mr Harri Althoff
              ...
191          Mr Noah Moore
193    Ms Delphine Ginnish
194    Madame Rosa Lefevre
195          Mr Raul Bravo
199        Mr Raff Valkema
Name: name, Length: 122, dtype: object

### Obtener el nombre de todos los usuarios con una edad mayor a 40 y de sexo femenino

In [20]:
data[(data['age'] > 40) & (data['gender'] == 'female')]

,name,age,gender,country,email
3,Mrs Naja Johansen,63,female,Denmark,naja.johansen@example.com
9,Miss Emilia Laitinen,53,female,Finland,emilia.laitinen@example.com
10,Ms Cathriona Hanson,53,female,Ireland,cathriona.hanson@example.com
11,Miss Maia Clarke,52,female,New Zealand,maia.clarke@example.com
12,Ms Cathy Simmmons,55,female,Australia,cathy.simmmons@example.com
...,...,...,...,...,...
181,Mrs Avery King,57,female,United Kingdom,avery.king@example.com
182,Mrs Soila Silva,63,female,Brazil,soila.silva@example.com
190,Miss Margrietha Holster,61,female,Netherlands,margrietha.holster@example.com
193,Ms Delphine Ginnish,58,female,Canada,delphine.ginnish@example.com
194,Madame Rosa Lefevre,67,female,Switzerland,rosa.lefevre@example.com

### Obtener todos los usuarios cuyo email no termine con @example.com

In [23]:
# Converitimos a string los valores de la cadena de emails para que muestre todos aquellos que terminan con @example
# negamos toda la consulta con ~, mostrando solo aquel que no termina con @example.com
data[ ~ data['email'].str.endswith('@example.com')]

              name  age gender country                 email
151  Mr Thomas Lam   42   male  Canada  thomas.lam@gmail.com

### Obtener el nombre y correo electronico de todos aquellos usuarios del pais Germany, Findland y Canada

In [36]:
data[ (data['country'] == 'Germany') | (data['country'] == 'Canada') | (data['country'] == 'Finland')]

# La alternativa a la sentencia anterior seria
# data[ data['country'].isin( ['Germany', 'Finland', 'Canada'])]

,name,age,gender,country,email
5,Mr Harri Althoff,56,male,Germany,harri.althoff@example.com
7,Ms Britta Weinert,35,female,Germany,britta.weinert@example.com
9,Miss Emilia Laitinen,53,female,Finland,emilia.laitinen@example.com
20,Mr Vincenzo Rauscher,25,male,Germany,vincenzo.rauscher@example.com
21,Mr Louis Ross,60,male,Canada,louis.ross@example.com
31,Mr Toivo Kotila,27,male,Finland,toivo.kotila@example.com
36,Mr Anthony Wong,42,male,Canada,anthony.wong@example.com
38,Mrs Lotta Rintala,26,female,Finland,lotta.rintala@example.com
41,Miss Iida Ketola,46,female,Finland,iida.ketola@example.com
45,Ms Ilona Moilanen,22,female,Finland,ilona.moilanen@example.com
47,Miss Ellen Rinne,66,female,Finland,ellen.rinne@example.com
50,Mr Theo Miller,33,male,Canada,theo.miller@example.com
53,Ms Aino Lassila,54,female,Finland,aino.lassila@example.com
56,Ms Marcella Brosch,38,female,Germany,marcella.brosch@example.com
58,Miss Madison Ennis,49,female,Canada,madison.ennis@example.com
72,Ms Megan Brown,26,female,Canada,megan.brown@example.com
79,Ms Hanne Aschenbrenner,64,female,Germany,hanne.aschenbrenner@example.com
85,Mrs Luisa Weißmann,32,female,Germany,luisa.weissmann@example.com
87,Mr Joona Koskela,59,male,Finland,joona.koskela@example.com
88,Mrs Hilda Epp,22,female,Germany,hilda.epp@example.com
131,Mr Xavier Addy,30,male,Canada,xavier.addy@example.com
133,Miss Julia Ambrose,34,female,Canada,julia.ambrose@example.com
144,Ms Mareile Plate,51,female,Germany,mareile.plate@example.com
147,Mr Lauri Kotila,32,male,Finland,lauri.kotila@example.com
151,Mr Thomas Lam,42,male,Canada,thomas.lam@gmail.com
158,Mr Rafael Spangenberg,33,male,Germany,rafael.spangenberg@example.com
170,Mr Ryder Côté,25,male,Canada,ryder.cote@example.com
174,Ms Isla Koistinen,37,female,Finland,isla.koistinen@example.com
184,Mr Philip Bélanger,24,male,Canada,philip.belanger@example.com
193,Ms Delphine Ginnish,58,female,Canada,delphine.ginnish@example.com
196,Miss Maeva Fortin,40,female,Canada,maeva.fortin@example.com

### Obtener el nombre y correo electronico de todos los usuarios de sexo femenino del pais Germany

In [43]:
data[ (data['gender'] == 'female') & (data['country'] == 'Germany')]

,name,age,gender,country,email
7,Ms Britta Weinert,35,female,Germany,britta.weinert@example.com
56,Ms Marcella Brosch,38,female,Germany,marcella.brosch@example.com
79,Ms Hanne Aschenbrenner,64,female,Germany,hanne.aschenbrenner@example.com
85,Mrs Luisa Weißmann,32,female,Germany,luisa.weissmann@example.com
88,Mrs Hilda Epp,22,female,Germany,hilda.epp@example.com
144,Ms Mareile Plate,51,female,Germany,mareile.plate@example.com

### Obtener la cantidad de usuarios de sexo masculino en canada

In [54]:
# Contar solo los resultados que aparecen en genero (Aunque daria el mismo resultado si contamos nombres, emails u otro)
data[ (data['gender'] == 'male') & (data['country'] == 'Canada')]['gender'].count()

# Contar los datos de todos los campos
# data[ (data['gender'] == 'male') & (data['country'] == 'Canada')].count()

7

### Mostrar la cantidad de hombres y mujeres

In [67]:
# Argupamos mediante el genero y solo contamos
data.groupby('gender')['gender'].count()

# La alternativa es
# data.groupby('gender').count()

gender
female    106
male       94
Name: gender, dtype: int64

### Mostrar el pais con mas mujeres

In [108]:
data[ data['gender'] == 'female'].groupby('country')['country'].count().sort_values(ascending=False).head(1)
# data[ data['gender'] == 'female'].groupby('country').count().sort_values()

country
Denmark    12
Name: country, dtype: int64

### Obtener los 5 paises con mas usuarios

In [109]:
data.groupby('country')['country'].count().sort_values(ascending=False).head(5)

country
Ireland           16
Denmark           16
United Kingdom    15
New Zealand       14
Norway            14
Name: country, dtype: int64