## Ejercicios para la semana

In [1]:
import pandas as pd 
import numpy as np

data = pd.read_csv('https://gist.githubusercontent.com/eduardogpg/9a0e348884bf8b5e60db013a0429a59d/raw/3587f65f7914f6c7d02fb84489d34d2b16eb511a/users.csv',
usecols=['name','age','gender','country','email'])
data

,name,age,gender,country,email
0,Mr Jerome Thomas,73,male,United States,jerome.thomas@example.com
1,Mr Gary Berry,70,male,United Kingdom,gary.berry@example.com
2,Mr Noham Dubois,40,male,France,noham.dubois@example.com
3,Mrs Naja Johansen,63,female,Denmark,naja.johansen@example.com
4,Mr Damien Marchand,61,male,France,damien.marchand@example.com
...,...,...,...,...,...
195,Mr Raul Bravo,46,male,Spain,raul.bravo@example.com
196,Miss Maeva Fortin,40,female,Canada,maeva.fortin@example.com
197,Mr Gabriel Berger,40,male,France,gabriel.berger@example.com
198,Mrs Ülkü Tanrıkulu,37,female,Turkey,ulku.tanrikulu@example.com
199,Mr Raff Valkema,60,male,Netherlands,raff.valkema@example.com

### Mostrar en consola el nombre de todos los usuario que no poseen un correo electrónico

In [74]:
# Este se cumple, pero no existen registros vacios, por lo tanto no muestra nada
# data[ data['email'].isnull()]

# Para complementar, mostrar nombre
data[ data['email'].isnull()] [['name']]

Empty DataFrame
Columns: [name]
Index: []

### Listar el nombre y correo del usuario más jovén de Canadá

In [77]:
# Primero seleccionamos el pais que es canada
# Despues ordenamos los valores por edad y mostramos el primer registro 
# Mostramos nombre y edad
data[ data['country'] == 'Canada'].sort_values('age').head(1) [['name', 'age']]

                   name  age
184  Mr Philip Bélanger   24

### Listar el nombre y correo de los usuarios más jóvenes de Germany y Canadá

In [80]:
# Replicamos la consulta anterior, agregandola a una variable
# Forma completa en 2 variables

canada  = data[ data['country'] == 'Canada'].sort_values('age').head(3)
germany = data[ data['country'] == 'Germany'].sort_values('age').head(3)

canada.append(germany)

                     name  age  gender  country                          email
184    Mr Philip Bélanger   24    male   Canada    philip.belanger@example.com
170         Mr Ryder Côté   25    male   Canada         ryder.cote@example.com
72         Ms Megan Brown   26  female   Canada        megan.brown@example.com
88          Mrs Hilda Epp   22  female  Germany          hilda.epp@example.com
20   Mr Vincenzo Rauscher   25    male  Germany  vincenzo.rauscher@example.com
85     Mrs Luisa Weißmann   32  female  Germany    luisa.weissmann@example.com

### Listar los 5 países con mayor cantidad de usuarios

### Obtener el país con más usuarios

### Obtener el país con más usuarios cuya edad sea mayor a 50

### Obtener la suma total de todos los usuarios de Canadá \ German

### Mostrar en consola la cantidad de países en el dataset

### Obtener el promedio de edad de cada uno de los países

### Mostrar en consola el país con más hombres